name: Benchmark

on:
  workflow_dispatch:
    inputs:
      benchmark:
        type: choice
        description: Specify benchmark name to run. Use "*" to run all benchmarks.
        default: "*"
        options:
          - "*"
          - "*AdaptiveBenchmark*"
          - "*DistributionBenchmark*"
          - "*ExchangeBenchmark*"
          - "*HeapBenchmark*"
          - "*InsertionBenchmark*"
          - "*MergeBenchmark*"
          - "*NetworkBenchmark*"
          - "*PartitionBenchmark*"
          - "*SelectionBenchmark*"
          - "*TreeBenchmark*"

jobs:
  benchmark:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.SYNCED_ACTIONS_BOT_APPID }}
          private-key: ${{ secrets.SYNCED_ACTIONS_BOT_PRIVATE_KEY }}
          permission-contents: write
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/setup-dotnet@main
        with:
          restore-wasm-workload: true
      - name: dotnet build
        run: dotnet build -c Release
      - name: benchmark
        run: dotnet run -c Release --no-build --no-launch-profile --project ./src/SortAlgorithm.Benchmark/SortAlgorithm.Benchmark.csproj -- --filter "${{ inputs.benchmark }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: BenchmarkDotNet.Artifacts
          path: BenchmarkDotNet.Artifacts/
          if-no-files-found: error

      - name: Output results to JobSummary
        run: |
          for file in $(find BenchmarkDotNet.Artifacts/results -name "*.md"); do
            title=$(basename "$file" .md | sed 's/-report-default//g')
            content=$(cat "$file")
            tableContent=$(echo "$content" | grep '|')
            echo "## $title" >> $GITHUB_STEP_SUMMARY
            echo "$tableContent" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
          done

      - name: Update README.md benchmark report link
        if: ${{ inputs.benchmark == '*' }}
        run: |
          sed -E -i 's|(https://github\.com/[^/]+/[^/]+/actions/runs/)[0-9]+|\1${{ github.run_id }}|g' README.md

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${{ github.repository }}"

          git add README.md
          git commit -m 'docs: update benchmark report link' -m "updated in run ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}"
          git push
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
